.Account{
    display: flex;
    gap: 100px;
    background-color: transparent;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.Account img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.Account h4{
    padding: 0 0 25px 25px;
}
.Account label{
    font-size: 14px;
    font-weight: 400;
}
.Account p{
    font-weight: 600;
}
.Acc-info{
    margin-top: 30px;
}