.box{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    min-height: 500px;
}

.section{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.section p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.section span{
    font-size: 12px;
}

.section .forgetPass{
    color: #2103e5;
    background-color: transparent;
    font-size: 12px;
    text-decoration: none;
}
.section .forgetPass:hover{
    text-decoration: underline;
}

.section button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    transition: ease-in 0.2s;
}

.section button:active{
    transform: scale(1.05);
}
.section .button{
    border-color: #fff;
    background-color: transparent;
}

.section form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

form .error{
    color: red;
    font-size: 12px;
}
.section input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.sign-in{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
}

.section.active .sign-in{
    transform: translateX(100%);
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    color: rgb(108, 61, 61);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-section{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-radius: 150px 0 0 100px;
}

.toggle{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    text-align: center;
}

