.setting{
    display: flex;
    margin: 20px 20px 0 50px;
    flex-wrap: wrap;
    gap: 170px;
}
.setting .but-setting{
    height: 0;
}
.setting button{
    display: block;
    border: none;
    background-color: transparent;
    margin-left: 20px;
    padding: 5px;
}
.account-content{
    width: 650px;
    padding-top: 8px;
}